.padleft {
  padding-left: 40px;
}

.center50 {
  width: 150px !important;
}

.WidthResponsive {
  width: 100%;
}

.blockzillable_free {
    padding: 2rem 0!important;
}

a {
  cursor: pointer;
}

.linkgreen {
    text-decoration: underline;
    color: #42cd70!important;
}

business-crowd
.close {
    background-color: transparent;
    border:0px;
    font-size: 30px!important;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
}

.button-center {
  text-align: center!important;
  display: block;
  margin: 0 auto;
}


.InputForm {
  width: 100%;
  padding: 10px;
  color: grey;
  border: 0px;
}


.bkg--orange
{
  background-color:#ff7729;
  color: white;
}
.orange:hover{
}

.col--services:hover  .wew 
{
    display: none;
}

@media (max-width: 767px){
  .col--services  .wew 
  {
      display: none;

  }
  .wewh2{
    padding-top:0px;
  }
}

.wew{
  width:50%;float:left;
}
.wewh2
{
  padding-top:40px;
}
.flex__col:hover .wewh2
{
  padding-top:0px;
}

.thiswew{
   width:100%;
}
.center50 {
  width: 150px !important;
}



.hvr-green:hover {
  background-color: #42cd70!important;
}

.color-white {
  color: white;
}

.color-green {
  color: #42cd70;
}

.bgcolor-green {
  background-color: #42cd70;
}


.linkblue {
  color: #2a99cc;
  text-decoration: underline;
}

.color-blue {
  color: #2a99cc;
}

.parallaxzillable {
    
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxlanding {
  /* The image used */
    background-image: url(../../images/parallax-img01.jpg);
}

.parallaxbusiness {
  /* The image used */
    background-image: url(../../images/parallax-img01.jpg);
}

.parallaxeducation1 {
  background-image: url(../../images/parallax-img07.jpg);
}


.parallaxeducation2 {
  background-image: url(../../images/parallax-img08.jpg);
}

.parallaxeducation3 {
  background-image: url(../../images/parallaxeducation.jpg);
}


.parallaxnonprofit1 {
  background-image: url(../../images/parallax-img09.jpg);
}

.parallaxnonprofit2 {
  background-image: url(../../images/parallax-img14.jpg);
}

.parallaxsecurity {
  background-image: url(../../images/parallax-sec.jpg);
}

.parallaxsecurity2 {
  background-image: url(../../images/security-parallax.jpg);
}

.parallaxgood {
  background-image: url(../../images/kitchen-soup.jpg);
}





.parallaxcrowd {
  background-image: url(../../images/business-crowd.jpg);
}

.SecurityWrapper {
  background-color: #EAF9FF!important;
}

.SecurityOrangeWrapper {
  background-color: #faa64f!important;
  color: white;
}

.Width50 {
  width: 50%
}

.SecurityData {
  background-image: url(../../images/security-data.jpg);
  background-size: cover;
}

.GapTop50 {
  padding-top: 50px;
}

.SecurityConfidentiality {

  background-image: url(../../images/security-confidentiality.jpg);
  background-size: cover;

}

.SecurityBottom {
    background-image: url(../../images/bottombanner.png);
  background-size: cover;
}

.bottom50 {
  padding-bottom: 50px;
}

.time-font {
  font-size: 18px!important;
}

.color-white {
  color: white!important;
}

.img-responsive {
  width: 100%;
}

.bg--blue {
  background-color: #5dcdfb;
}

.pad10 {
  padding: 10px;
}

.bg-sec-blue {
  background-color: #2a99cc
}

.bg--gray {
  background-color: #3f3f3f;
}

.btn-blue {
  color: #5dcdfb!important;
}

.btn-blue:hover {
  background-color: #5dcdfb!important;
  color: #white!important;
}

.para20 {
  padding: 0px 20px;
}
.pad0 {
  padding: 0px!important;
}

.EducationWrapper {
  background-color: #19ADDB!important;
}

@media (min-width: 767px){
.tabbed {
  margin-left: 28%;
}

.tabbed1 {
  margin-left: 20%;
}
}

.pad0 {
  padding: 0px!important;
}
@media (min-width: 767px){
  .relative {
    position: relative;
  }

  .absolute {
    position: absolute;
  }

  .puzzlecontainer {
    top: 0px;
    padding: 90px;
  }

  .puzzlebottomleft {
    padding-right: 35%;
  }

  .puzzletopright {
    padding-left: 40%; 
  }

  .puzzlebottomright {
    padding-top: 30%;
  }

}

@media (max-width: 766px){

.puzzleblue {
  background-color: #2EAEB7;
  }

.imagehide {
  display: none!important;
}

.puzzlepad {
  padding: 50px;
}

.puzzleyellow {
  background-color: #F3AC1E;
}
.puzzlered {
  background-color: #DD3F18;
}
.puzzlegreen {
  background-color: #04A613;
}
}

.flexgray {
  background-color: #FAFAFA;
}

.btnpuz {
  color: white!important;
}

.btnpuz:hover {
  color: #42cd70!important;
}
 
.threeblocks {
  display: -webkit-flex;
  display: flex;
 
  box-shadow: 0 10px 5px -5px rgba(0,0,0,0.30);
}

.block-blue {
  background-color: #81a8af;
}

.block-red {
   background-color: #e86050;
}
.block-brown {
background-color: #cbb898;
}

.block-choco {
background-color: #635353;
}


.threeblocksflex img {
  padding: 20%;
}

.blockwhite {
  background-color: #FAFAFA;
}


.blockwhite p {
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 50px;

}

.block-color-red {
  color:#e86050;
}
.block-color-blue {
  color:#81a8af;
}

.block-color-brown {
  color:#cbb898;
}

.block-color-choco {
  color:#635353;
}



.threeblocksflex-desc {
  padding: 30px;
}

.threeblocksflex-desc p {
  text-indent: 50px;
}

.pad15per {
padding-top: 15%;
padding-bottom: 15%;
}

.col2 {
  display: -webkit-flex;
  display: flex;
}

.col2flex {
  background-color: #FAFAFA;
}

.padflex {
  margin: 15px;
  padding: 0px!important;
}

.col2desc {
  padding: 40px;
}

.patent {
  background-image: url('../../images/innovbg.jpg');
  min-height: 500px;
  background-size: cover;
}

.pad10per {
  padding-top: 10%;
}

.patentflex {
  display: -webkit-flex;
  display: flex;
}

.patentbutton {
  background-color: #42cd70;
  padding: 30px;
  margin: 20px;
  text-align: center;
  color: white;
}

.patentbutton img {
  width: 40%;
}

.patentbutton:hover {
  color: white;
  opacity: 0.7;
}
.footerimage {
  width: 30px;
}

.footerstyle {
  padding: 100px 50px 50px 50px;
}

.footerbottom {
  padding-top: 50px;
  float: right;
}

.socialicon {
  font-size: 30px!important;
  padding: 5px;
  
}