.btn--greenw
{
	background-color: transparent;
    border-color: #42cd70;
    color: #42cd70;
}
.btn--greenw:hover {
    background-color: #42cd70;
    color: white !important;
}

.loginw
{
	padding: 10px 20px 10px 20px;
	width: 40px;
	background-color: transparent;
    border-color: white;
    color: white;
    display: inline;
}

.menu__bar {
    background-color: white;
}

