.tabbed {
	/*margin-left: 50px;*/
	margin-left: 30px;
	margin-top: 20px !important;
}
.block__content {
    background-color: white !important;
}
.block__content:hover {
    color: black !important;
}
.bgcolor-grey{
	background-color: #efefef !important;
}
.bkg--green-white{
	background-color: white;
}
.toptabbed{
	padding:0 !important;
}
.color--black{
	color:black;
	text-align: right;
}
.gap-top20 {
	margin-top: 30px;
}
.bike{
	width: 80% !important;	
	padding-top: 50px;
}
.comm{
	width: 42% !important;	
	padding-top: 50px;
}
.col--featured>a{
	background-color: #f2f2f2;
}

.take_the_tour i {
	font-size: 100px!important;
}

.toplineheight {
	position: relative;
	top:13px!important;
	left: 10px;
}

.zillablefree_container {
	padding:0px!important;
}

.block-everywhere {
	padding: 0 6%;
}

.mobileappstores {
	margin: 0px auto;
	text-align: center;
	padding-top: 20px;
}

.everywhere-content {
	padding-top: 40px;
}

.zilla_gray {
	color: #676766!important;
}

.zilla_yellow {
	color: #f4ff20!important;
}

.block-margin {
	margin: 3rem 0px;
}

.gray_title {
	font-size: 25px;
}

.gray_tag {
	color: #2a99cc;
}

.gray_content {
	font-size: 1rem;
	padding-top: 25px;
}

.graylist {
	padding: 10px 0px 0px 50px;
}

.graylist li {
	list-style-type: disc;
}

.parallaxzillable {
    
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxlanding {
	/* The image used */
    background-image: url(../../images/parallax-img01.jpg);
}

.parallaxen {
  /* The image used */
    background-image: url(../../images/banneroffice.png);
}

.mapuses {
    background-image: url(../../images/mapgreen.jpg);
}

.parallaxmindmap {
    background-image: url(../../images/parallaxmindmap.jpg);
}

.mappar {
    background-image: url(../../images/map.jpg);
}

.block__body p {
	font-size: 15px;
}

@media (min-width: 768px){
.icon-circular {
    width: 3rem!important;
    height: 3rem!important;
}

}

.blockzillable_free {
    padding: 2rem 0!important;
}

.tour-guide-row .icon-circular::before {

left: 50%!important;
	}

.donutheory {
	position: relative;
	bottom: 130px;
	left: -120px;
	min-width: 450px;

}

.imgtop25
{
	position: relative;
	bottom: 10px;
}

.card-hover a:hover {
	-webkit-box-shadow:inset 0px 0px 0px 10px #42cd70;
    -moz-box-shadow:inset 0px 0px 0px 10px #42cd70;
    box-shadow:inset 0px 0px 0px 10px #42cd70;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #fff;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.0);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  /*top: 30%;*/
  width: 100%;
  text-align: center;

}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}

.top15 {
	top: 15%;
}

.top30 {
	top: 30%;
}

.icon-green {
  background-color: #42cd70;
  color: white;
}

.TabCardsList li {
  display: inline;
  padding: 5px 20px;
  cursor: pointer;
}

.TabCardsList li a {
  color: #9d9d9d;
  padding-bottom: 10px;
  -webkit-transition: border-bottom 0.2s; /* Safari */
  transition: border-bottom 0.2s;
}

.TabCardsList li a:hover {
  border-bottom: 5px solid #42cd70;
  color: #42cd70;
}

.TabCardsListActive {
  border-bottom: 5px solid #42cd70;
  color: #42cd70;
}

.BoardCardBottom, .BoardCardBottom a{
 
  color: white;
  text-align: center;
   border: 2px solid #42cd70;
  padding: 10px 0px;
  margin-top: 20px;
  border-radius: 25px;
  clear: both;
  background-color: #42cd70;
  -webkit-transition: background-color 0.5s; /* Safari */
  transition: background-color 0.5s;
}

.BoardCardBottom i {
  padding-left: 20px;
  color: #42cd70;
  
}

.BoardCardBottom:hover{
 
  background-color: transparent;
  color: #42cd70!important;
}

.fltright {
  float: right;
}

.FullBg {
  background: url('../../images/laptopbg1.jpg') no-repeat center center ;
  background-size: cover;
  min-height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gap-top10per
{
  padding-top: 10%;
}

.WireframeText {
 position: absolute;
 top: 0px;
 padding-left: 100px;
}

.Relative {
  position: relative;
}

/*MINDMAP*/

.MindMapHero header {
  color: white!important;
  z-index: 5000;
}

.svg-container {
  position: relative;
  background: #23333f;
  padding: 3em;
}
.svg-container svg {
  max-width: 375px;
}

.line {
  fill: none;
  stroke: #00b3e3;
  stroke-miterlimit: 10;
  stroke-width: 0.5;
  animation: line-pulse 5s ease infinite;
  -moz-animation: line-pulse 5s ease infinite;
  /* Firefox */
  -webkit-animation: line-pulse 5s ease infinite;
  /* Safari and Chrome */
  -o-animation: line-pulse 5s ease infinite;
  /* Opera */
}

.circle {
  fill: transparent;
  transition: fill 300ms ease;
}

.blue-bg {
  fill: #00b3e3;
  animation: circle-pulse 10s linear infinite;
  -moz-animation: circle-pulse 10s linear infinite;
  /* Firefox */
  -webkit-animation: circle-pulse 10s linear infinite;
  /* Safari and Chrome */
  -o-animation: circle-pulse 10s linear infinite;
  /* Opera */
  -webkit-animation-delay: 3s;
  /* Chrome, Safari, Opera */
  animation-delay: 3s;
}

@keyframes circle-pulse {
  0%,100% {
    fill: #00b3e3;
  }
  50% {
    fill: #ffffff;
  }
}
@keyframes line-pulse {
  0%,100% {
    stroke: #00b3e3;
  }
  50% {
    stroke: #ffffff;
  }
}
@keyframes svg-pulse {
  0%,100% {
    stroke: #00b3e3;
  }
  50% {
    stroke: #ffffff;
  }
}


.color-white {
  color: white!important;
}

.MapFeatures {
  text-align: left;
}

.MapContainer {
  border: 1px solid #DBDBDB;
  padding: 10px;
  margin-bottom: 10px;
}

.MapContainer p {
margin-top: 15px;
}


.bg--blue {
  background-color: #5dcdfb!important;
}

.bg--blue:hover {
  color: white!important;
}

.bg--red {
  background-color: #ff7578!important;
}

.bg--red:hover {
  color: white!important;
}

.bg--purple {
  background-color: #a983e6!important;
}

.bg--green {
  background-color: #42cd70!important;
}

.bg--green:hover {
  color: white!important;
}


.bg--purple:hover {
   color: white!important;
}


.FullWidth {
  width: 100%;
}

.gapbottom {
  padding-bottom: 50px;
}

.text-left {
  text-align: left;
}

.footerimage {
  width: 30px;
}

.footerstyle {
  padding: 100px 50px 50px 50px;
}

.footerbottom {
  padding-top: 50px;
  float: right;
}

.socialicon {
  font-size: 30px!important;
  padding: 5px;
  
}