.padbottom50 {
	padding-bottom: 120px;
}

.parallaxzillable {
    
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-blue {
    color: #2a99cc;
}

.color-gray {
    color: #8d8d8c;
}

.color-white {
  color: white!important;
}

.linkgreen {
    text-decoration: underline;
    color: #42cd70!important;
}

.bg--blue {
  background-color: #5dcdfb;
}

.bg--red {
  background-color: #ff7578;
}

.bg--purple {
  background-color: #a983e6;
}

.InputForm {
  width: 100%;
  padding: 10px;
  color: grey;
  border: 0px;
}



.FormGroup {
  /*padding: 10px 0px;*/
  margin: 0px auto;

}

.FormGroup input, .FormGroup textarea {
  padding: 10px 10px;
  border: 0px;
  background-color: #dbdbdb;
  border-radius: 5px;
  width: 100%;
}

.FormGroup label {
  line-height: 30px;
}

input[type="checkbox" i] {
  margin: 5px 0px;
  width: 20px;
}


.InputGroup{
  padding-bottom: 20px!important;
  clear: both;
}


.img--responsive {
    width: 100%;
}

.font12 {
    font-size: 14px;
}

.bgcolor-white {
    background-color: white;
}


.blockzillable_free {
    padding: 2rem 0!important;
}

.header--is-pricing {
    background-color:#dbdbdb!important;
}

.pricing-box {
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    padding: 0px!important;
}

.pricing-title {
    margin: 0;
    font-size: 50px;
}

.pricing-title, .pricing-subtitle span {
    color:#5d5d5d;
}

.pricing-description {
    font-size: 1.3rem;
    color:#5d5d5d;
    margin:0px!important;
}

.pricingwrapper {
    padding:20px;text-align:left;
}

.pricingwrapper img {
    margin-top:5px;
    margin-bottom:10px;
}

.pricingwrapper p {
    color:#5d5d5d;
    line-height: 130%;
    padding-bottom: 10px !important;
}

.pricingbox-title {
    font-size: 1.5rem;
    width: 100%;
    color:#5d5d5d;
    margin-bottom:10px;
}

.gap-bottom-25 {
  margin-bottom: 25px;
}

.parallaxzillable {
    
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxpricing {
	/* The image used */
    background-image: url(../../images/parallax-img03.jpg);
}

.parallaxcollaboration {
    background-image: url(../../images/parallax-img04.jpg);
}

.parallaxinnovation {
    background-image: url(../../images/banner-innovation.jpg);
}

.parallaxenterprise {
    background-image: url(../../images/parallax-img06.jpg);
}


@media (min-width: 576px){
    .card-columns {
        column-count: 4!important;
    }
}

.close {
    background-color: transparent;
    border:0px;
    font-size: 30px!important;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
}

.button-center {
  text-align: center!important;
  display: block;
  margin: 0 auto;
}


.button-center a {
  color: #42cd70!important;
}

.button-center a:hover {
  color:white!important;
}

a, a:focus, a:active, button, input{outline : none;}

/*CARDS */

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 0.35rem;
  -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.06);
-moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.06);
box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.06);
}

.card img {
    width: 60%;
    margin: 10px 20%;
}

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;

}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f7f7f9;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-primary {
  background-color: #0275d8;
  border-color: #0275d8;
}

.card-primary .card-header,
.card-primary .card-footer {
  background-color: transparent;
}

.card-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.card-success .card-header,
.card-success .card-footer {
  background-color: transparent;
}

.card-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.card-info .card-header,
.card-info .card-footer {
  background-color: transparent;
}

.card-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.card-warning .card-header,
.card-warning .card-footer {
  background-color: transparent;
}

.card-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.card-danger .card-header,
.card-danger .card-footer {
  background-color: transparent;
}

.card-outline-primary {
  background-color: transparent;
  border-color: #0275d8;
}

.card-outline-secondary {
  background-color: transparent;
  border-color: #ccc;
}

.card-outline-info {
  background-color: transparent;
  border-color: #5bc0de;
}

.card-outline-success {
  background-color: transparent;
  border-color: #5cb85c;
}

.card-outline-warning {
  background-color: transparent;
  border-color: #f0ad4e;
}

.card-outline-danger {
  background-color: transparent;
  border-color: #d9534f;
}

.card-inverse {
  color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-header,
.card-inverse .card-footer {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
  color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-blockquote .blockquote-footer {
  color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
  color: #fff;
}

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}

.card-img {
  border-radius: calc(0.25rem - 1px);
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
  .card-deck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-deck .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-deck .card:not(:first-child) {
    margin-left: 15px;
  }
  .card-deck .card:not(:last-child) {
    margin-right: 15px;
  }
}

@media (min-width: 576px) {
  .card-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-group .card {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .card-group .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group .card:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group .card:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) .card-img-top,
  .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
    border-radius: 0;
  }
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.25rem;
  }
}

.bottomgap30 {
  margin-bottom: 30px;
}

.pricing-card {
  text-align: center;
  padding: 40px 40px!important;
}

.pricing-card-title {
  padding: 20px 0px;
  font-weight: bold;
  color: #9d9d9d;
  text-transform: uppercase;
  font-size: 13px;
}

.pricing-card-description {
  color: #9d9d9d;
  font-size: 13px;
}

.pricing-input input {
  padding: 10px 20px;
  margin-right: 20px;
  color: black;
  border: 0px;
}

.pricing-button {
  margin-top: 5px;
}

.PricingCardBlue {
  color: #5dcdfb;
  -webkit-transition: background-color 0.5s, color 0.5s; /* Safari */
  transition: background-color 0.5s, color 0.5s;
}

.PricingCardBlue:hover {
background-color: #5dcdfb;
color: white!important;
}

.PricingCardRed {
  color: #ff7578;
  -webkit-transition: background-color 0.5s, color 0.5s; /* Safari */
  transition: background-color 0.5s, color 0.5s;
}

.PricingCardRed:hover {
background-color: #ff7578;
color: white!important;
}


.PricingCardPurple {
  color: #a983e6;
  -webkit-transition: background-color 0.5s, color 0.5s; /* Safari */
  transition: background-color 0.5s, color 0.5s;
}

.PricingCardPurple:hover {
background-color: #a983e6;
color: white!important;
}

.PricingCardGreen {
  color: #42cd70;
  -webkit-transition: background-color 0.5s, color 0.5s; /* Safari */
  transition: background-color 0.5s, color 0.5s;
}

.PricingCardGreen:hover {
background-color: #42cd70;
color: white!important;
}


.bg--blue {
  background-color: #5dcdfb!important;
}

.bg--blue:hover {
  color: white!important;
}

.bg--red {
  background-color: #ff7578!important;
}

.bg--red:hover {
  color: white!important;
}

.bg--purple {
  background-color: #a983e6!important;
}

.bg--green {
  background-color: #42cd70!important;
}

.bg--green:hover {
  color: white!important;
}


.bg--purple:hover {
   color: white!important;
}

.FullWidth {
  width: 100%;
}

.gapbottom {
  padding-bottom: 50px!important;
}

.text-left {
  text-align: left!important;
}


.footerimage {
  width: 30px;
}

.footerstyle {
  padding: 100px 50px 50px 50px;
}

.footerbottom {
  padding-top: 50px;
  float: right;
}

.socialicon {
  font-size: 30px!important;
  padding: 5px;
  
}
