.bkg--orange
{
	background-color:#ff7729;
	color: white;
}
.orange:hover{
}

.col--services:hover  .wew 
{
    display: none;
}

@media (max-width: 767px){
	.col--services  .wew 
	{
	    display: none;

	}
	.wewh2{
		padding-top:0px;
	}
}

.wew{
	width:50%;float:left;
}
.wewh2
{
	padding-top:40px;
}
.flex__col:hover .wewh2
{
	padding-top:0px;
}

.thiswew{
	 width:100%;
}
.center50 {
	width: 150px !important;
}


/*#################HOVER FOR YELLOW###################*/
/*.bbyellow:hover,.bbyellow:hover p{
	background-color:#eeb711 !important;
	color: white;
}

.bbgreen:hover,.bbgreen:hover p{
	background-color: #42cd70 !important;
	color: white;
}

}
.bborange:hover,.bborange:hover p{
	background-color:#ff7729 !important;
	color: white;
}

.bbblue:hover,.bbblue:hover p{
	background-color:#2a99cc !important;
	color: white;
}
*/
.bkg--blue {
	background-color: #2a99cc!important;
	color: white;
}

.block__body{
	margin-top: 20px;}
.imageh{
	width:75%;
}
.padding50{
	padding-bottom: 50px;
	    position: relative;
}


       
       	.bgyell{
       		background-color:#ffac0e !important;color:white;padding-top: 100px;padding-bottom: 100px;    width: 80%
       	}.prov2bg{
       		background-color:#ff7729 !important;color:white;padding-top: 100px;padding-bottom: 100px;
       	}
       	.marjbot15{
       		margin-bottom:15px
       	}
       	.hovv:hover{background-color: #ffac0e;border: 2px solid white;color:white !important;} .hovv{background-color: white;color:#ffac0e !important;border: 2px solid transparent;}
       	.hovv2:hover{background-color: #ff7729;border: 2px solid white;color: white !important;} .hovv2{margin-bottom:15px;background-color: white;color:#ff7729 !important;border: 2px solid transparent;}

       .prov2desc{
       	margin-bottom:15px;line-height: 2.5rem;
       }
       .col-overlapped--bkg,.col-overlapped--bkg{
       	width: 60% !important;
       }
       .move{
       	width: 46%;
       }
       .lineh{
       		line-height: 2.5rem;
       }
       .bgcolor-grey{
	background-color: #efefef !important;
}
.toptabbed{
	padding-top:0 !important;
}

.toptabbed2{
	padding-top:50px !important;
	padding-bottom:50px !important;
}.toptabbed3{
	padding-top:30px !important;
	padding-bottom:30px !important;
}
.bkg--green-white{
	background-color: white;
}
.block--flex-vhc{
	text-align: left;
}
.para{
	line-height:1.8rem;
}
.padd{
	padding:20px !important;
	text-align: left !important;
}