		.col__content{
            width: 100%;
        }
        .block__title
        {
        	margin: 0;font-size: 50px !important;
        }
        .col__content{
        	padding:0 !important;background-color: transparent !important;
        }
        .procol
        {
        	background-color: #e6e6e6 !important;border-radius: 7px !important; overflow: hidden !important;
        }
        .protop
        {
        	padding:10px !important;font-size: 1.3rem !important;width: 100% !important;
        }
        .e6e6
        {
        	background-color: #e6e6e6;
        }
        .prodesc{background-color: white;
        	border-radius: 7px;margin: 10px; padding: 23px 10px 22px 10px
        }.prodesc1{background-color: white;
        	border-radius: 7px;margin: 10px; padding: 10px 20px 10px 20px
        }
        .prodcon{
        	font-size: 1.3rem !important;text-align: center;
        }.prodcon1{
        	font-size: 1.3rem !important;text-align: left;
        }

        
        .pro1
        {
        	color:white;
        }.pro1c
        {
        	color: #42cd70;
        }.pro1d{
        	background-color: #42cd70;
        }
        
        .pro2
        {
        	color:white;

        }.pro2c
        {
        	color: #5dcdfb;
        }
        .pro2d{
        	background-color: #5dcdfb;
        }

        .pro3
        {
        	color:white;
        }.pro3c
        {
        	color: #ff7578;
        }.pro3d{
        	background-color: #ff7578;
        }
        
        .pro4
        {
        	color:white;
        }.pro4c
        {
        	color: #a983e6;
        }.pro4d{
        	background-color: #a983e6;
        }
        

        .prodetails{
        	border-radius: 7px;margin: 10px; background-color: white;padding: 20px 10px 20px 10px
        }
        .prodetailst{
        	font-size: 1.3rem;text-align: center;
        }

        .proin
       	{
       		border-radius: 7px;margin: 10px; background-color: white;padding: 20px 10px 0px 10px;
       	}
       	.proina
       	{
       		font-size: 1.2rem;text-align: left;margin-bottom: 0 !important;
       	}

       	.finc{
       		line-height: 130% !important;padding-bottom: 10px ;
       	}
       	.color--black{color: black !important;}
		.color--blue{color: #5dcdfb !important;}

       	.marj0{
       		margin-top: 0;
       	}

       	.bgyell{
       		background-color:#ffac0e !important;color:white;
       	}.prov2bg{
       		background-color:#ff7729 !important;color:white;
       	}
       	.marjbot15{
       		margin-bottom:15px
       	}
       	.hovv:hover{background-color: #ffac0e;border: 2px solid white;color:white !important;} .hovv{background-color: white;color:#ffac0e !important;border: 2px solid transparent;}
       	.hovv2:hover{background-color: #ff7729;border: 2px solid white;color: white !important;} .hovv2{margin-bottom:15px;background-color: white;color:#ff7729 !important;border: 2px solid transparent;}

       .prov2desc{
       	margin-bottom:15px;line-height: 2.5rem;
       }

.TourPageTitle {
  color: #42cd70;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
  margin-left: 10px;
}


.TourPageProductList li {
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s, color 0.3s; /* Safari */
  transition: background-color 0.5s, color 0.3s;

}

.TourPageProductList li:hover {
}

.TourPageProductList li span{
  padding-bottom: 5px;
  border-bottom: 1px solid #c6c6c6;
}


.active {
  font-weight: bold;
  background-color: #42cd70;
  color: white;
  transition-timing-function: ease-in;
  transition-timing-function: ease-out;
}

.hidden {
     display:none;
}

.WatchVideo {
  color: #5AB6C8;
  font-weight: bold;
  line-height: 37px;
}

.WatchVideo span {
  margin-left: 15px;
}

@media (min-width: 1025px){
.block__body__card {
    padding: 15px 15px

  }
}

.Wireframes img {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 11px 1px rgba(133,133,133,1);
  -moz-box-shadow: 0px 0px 11px 1px rgba(133,133,133,1);
  box-shadow: 0px 0px 11px 1px rgba(133,133,133,1);
}

.parallaxtour {
  /* The image used */
    background-image: url(../../images/parallax-img02.jpg);
}